@model IEnumerable<sistemamusicafinal.Models.Musica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Cadastrar uma nova música</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TituloMusica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracaoMusica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloMusica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracaoMusica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Id)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
