@model sistemamusicafinal.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do álbum</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloAlbum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloAlbum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneroAlbum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneroAlbum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapaAlbum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapaAlbum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
